.header{
    background-color: red;
    text-align: center;
}

.w3-bar-block {

    height: 100%;
}

.card-omg {
    width: 50%; /* Set the desired width */
    height: 200px; /* Set the desired height */
    object-fit: cover; /* This will make sure the image covers the entire container while maintaining its aspect ratio */
}